.heroes,
.villains {
  display: flex;
  gap: 10vw;

  overflow-x: hidden;
  overflow-y: auto;

  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

@media (orientation: portrait) {
  .heroes,
  .villains {
    height: 50vh;
    width: 100vw;

    margin: 0;
    flex-direction: row;
    
    overflow-y: hidden;
    overflow-x: auto;
    
    scroll-snap-type: x mandatory;
  }
}

@media (orientation: landscape) {
  .heroes,
  .villains {
    height: 100vh;
    flex-direction: column;
  }
}